{% extends 'base.html' %}

{% block title %}Recreation Type{% endblock title %}

{% block content %}
  {% for type in object_list %}
    <div class="card">
      <div class="card-header">
        <!--an class="font-weight-bold"> Name: {{ type.name }}  </span>-->
          <!--<span class="font-muted-"> {{ type.name }} | </span>-->
        <span class="font-weight-bold"> Recreation Name: {{ type.Recreation_Name}}  </span>
          <br>
        <span class="font-weight-bold" style="color:teal"> Recreation Type (Indoor): {{ type.Recreation_Type_Indoor }}  </span>
          <br>
        <span class="font-weight-bold" style="color:teal"> Recreation Type (Outdoor): {{ type.Recreation_Type_Outdoor }}  </span>
          <br>
          <span class="font-weight-bold" style="color:blue"> Public: {{ type.Public }}  </span>
          <br>
          <span class="font-weight-bold" style="color:blue"> Private: {{ type.Private }}  </span>
        <!--<span class="font-muted">addr: {{ person.address }} | </span>
        <span class="font-muted-">city: {{ person.city }} | </span>
        <span class="font-muted">st: {{ person.state }} | </span>
        <span class="font-muted">zip: {{ person.zipcode }} | </span>
        <span class="font-muted">email: {{ person.email }}  </span>-->
      </div>
      <div class="card-body">
           <p>{{type.notes}}</p>
        <a href="{% url 'type_edit' type.pk %}">Edit</a> |
        <a href="{% url 'type_delete' type.pk %}">Delete</a>
          <br>
         <a href="{% url 'home' %}">Back</a>
          <!--<a href="{% url 'type_new' %}">+Type</a>-->
      </div>
      <div class="card-footer">
        {% for comment in person.comments.all %}
          <p>
            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
            {{ comment }}
          </p>
        {% endfor %}
      </div>
    </div>
    <br />
  {% endfor %}
{% endblock content %}
